.icon-only {
	color: #626262
}

.titulo-proyecto{
	font-family:raleway;
	font-weight: 400;
	font-size: 1.4em;
	color: #5956D5;
	letter-spacing:1px;
	text-transform: capitalize;
}

.description-proyect{
	text-align:justify; 
	font-family: raleway;
    font-weight: 400; 
    font-size: 1.1em;
    color: #000;
}

.fone-customer{
	color:#F00;
}

.icon-menu{
	color:#5C66F3;
}

.icon-menu.active{
	color:#FDBF2D;
}


.template_image {
    width: 150px;
	height: 150px;
	position: relative;
	background: url(../images/proyectos/template.png) no-repeat;
}

 a:hover .template_image{ background: url(../images/proyectos/template.png) no-repeat; }

.template_image span.fa{ color: #ffffff; font-size: 16px; line-height: 40px; }

.second-gallery {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 20px;
}

.diamond-top{	
    margin: 0 6px;
    display: inline-block;
}

.diamond {
    top: -40px;
    position: relative;
    margin: 0 6px;
    display: inline-block;
}


.diamond-img {
    display: block;
    width: 250px;
}

@media (min-width: 1200px) {
	.second-gallery {
	    width: 930px;
	}
}

@media (max-width: 1200px) {
	.diamond-img {
	    display: block;
	    width: 205px;
	}	
}

@media (min-width: 1024px) {
	.second-gallery {
	    width: 930px;
	}
}

@media (max-width: 1024px) {
	.second-gallery {
	    width: 100%;
	    margin: 0;
	}	
	.diamond-img {
	    display: block;
	    width: 200px;
	}
	.tablet-hidden {
		display: none;
	}		
}




@media (max-width: 768px) {
	
	.diamond-img {
	    display: block;
	    width: 165px;
	}
}

@media (max-width: 648px) {	
	.diamond-img {
	    display: block;
	    width: 165px;
	}
}

@media (max-width: 480px) {

	.mobile-hidden {
		display: none;
	}	
}

